body, html {
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	background:black;
	overflow:hidden;
}

/* ------------------------------------------------------------------------ */
#cdlm_graph {
	margin:0; padding:0;
	width:100%;
	height:100%;
}
#cdlm_overmap {
	position:absolute;
}
#cdlm_map {
	position:absolute;
	top:0;
	bottom:0;
	width:100%;
}

/* ------------------------------------------------------------------------ */
/* TOPBAR */
#topbar {
	position:absolute;
	background:#3A3A3A;
	left:0px;
	top:0px;
	width:300px;
	height:55px;
	border-bottom:1px solid black;
}
#topbar #help {
	position:absolute;
	margin:14px;
	margin-top:19px;
}
#topbar #help img {
	width:15px;
	height:15px;
}
#topbar #help img:hover {
	opacity:0.3;
}
#topbar #topbar_modes {
	width:280px;
	text-align:center;
	padding:10px;
}

/* ------------------------------------------------------------------------ */
/* LEFT PANELs */
#panel_map, #panel_graph {
	position:absolute;
	left:0;
	top:55px;
	border-top:1px solid black;
	width:300px;
	height:100%;
	background:rgba(250,250,250,1);
}

/* ------------------------------------------------------------------------ */
/* LEFT PANEL GRAPH CATEGORIES */
#panel_graph ul {
	margin:10px;
	margin-right:110px;
	padding-bottom:40px;
	cursor: pointer;
}
#panel_graph a {
	margin:0px;
	padding:3px;
}
#panel_graph .catcol {
	width:16px;
	height:16px;
	margin-right:8px;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	display:inline-block;
}
#panel_graph span {
	vertical-align:super;
}

/* ------------------------------------------------------------------------ */
/* PANEL SEX BUTTONS */
#panel_bys_overlay {
	position:fixed;
	left:0;
	right:0;
	width:300px;
	height:50px;
	background:rgba(0,0,0,0.3);
	opacity:0;
	z-index:99999999;
	pointer-events: none;
}
#panel_bys_outter {
	width:300px;
	height:50px;
}
#panel_bys {
	text-align: center;
	padding:7px;
}
#panel_fromto {
	display:inline-block;
	font-size: 1.1em;
	padding:8px;
	padding-right:10px;
	font-family: 'Roboto', sans-serif;
	vertical-align:text-bottom;
}
.btn.bys img {
	width:15px;
	height:15px;
	margin-top:3px;
}
.btn-group {
	display:inline-block;
}

/* ------------------------------------------------------------------------ */
/* PANEL STATION */
#panel_stationname {
	/*height:29px;*/
	padding:8px;
	padding-left:10px;
	padding-right:0px;
	color:white;
	background: #001A63;
	font-size: 1.2em;
	font-family: 'Roboto', sans-serif;
	border-top:solid black 2px;
	border-bottom:solid black 2px;
}
#panel_stationname img {
	width:25px;
	height:25px;
	margin-right:10px;
	cursor:pointer;
}
#panel_stationname img:hover {
	opacity:0.5;
}
#panel_stationname div {
	display:inline-block;
	vertical-align:super;
}

/* ------------------------------------------------------------------------ */
/* PANEL WORDS */
#panel_words_outter {
	overflow: hidden;
	width:300px;
}
#panel_words_overlay {
	overflow: hidden;
	position:fixed;
	left:0;
	right:0;
	width:300px;
	height:100%;
	background:rgba(0,0,0,0.3);
	opacity:0;
	z-index:99999999;
	pointer-events: none;
}
#panel_words {
	overflow: hidden;
	padding-top:10px;
}
#panel_words ul {
	list-style-type: none;
	margin:0;
	width:75px;
	display: inline-block;
	vertical-align: top;
}
#panel_words li {
	vertical-align: middle;
	line-height: 8px;
	color:lightgray;
	height:12px;
	text-align: center;	
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
#panel_words li:hover {
	/*background:white;*/
	color:#001A63;
	cursor: pointer;
}

/* ------------------------------------------------------------------------ */
/* STATIONS POINTS & VORONOI PATHS */
.stations {}
.voropaths {}
.voropaths:hover {
	stroke-opacity:1;
	stroke:#C44040;
	stroke-width: 3px;
}

/* ------------------------------------------------------------------------ */
/* TOOLTIP WITH SAMPLES, overwrite bootstrap css */
.tooltip {
	pointer-events: none;
}
.tooltip-inner {
	max-width:400px;
	padding:9px;
}
.tooltip div {
	color:white;
	text-align: left;
	font-size: 1em;
	font-family: 'Roboto', sans-serif;
}

/* ------------------------------------------------------------------------ */
/* MODAL WELCOME & HELP */
#helpModal button {
	background:none;
	border:none;
}
.modal-header {
	background: #001140;
	text-align: center;
	/*font-family: 'Cantora One', sans-serif;*/
	font-family: 'Clicker Script', cursive;
	font-weight: normal;
	color:white;
}
.modal-header h1 {
	font-size: 3.8em;
	color:white;
	margin:15px;
}
.modal-body {
	padding:0px;
}
.modal-body img {
	width:100%;
}
.modal-footer {
	text-align: center;
}

